<div class="container text-center"><img src="./assets/img/logo.png" alt="Logo da Loja"></div>

  <section class="container mt-5 mx-auto">

    <div class="form-floating mb-5 w-75 mx-auto">

      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>

    </div>
    <div class="form-floating w-50 mb-5 w-75 mx-auto">

      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>

    </div>

    <div  class="container-fluid row d-md-flex justify-content-md-end">
      <a id="btnLogin" class="col-sm-12 btn btn-outline-secondary w-25 mx-auto" href="http://localhost:4200/homepage" target="_blank" role="button">Login</a>
    </div>

    <div class="mt-5">
      <div class="bg-secondary p-1 w-75 mx-auto"></div>
    </div>

    <div class="container-fluid row d-md-flex justify-content-md-end mt-5">
      <button id="btnLoginGoogle" type="button" class="row-sm-12 w-25 btn btn-outline-secondary mx-auto position-relative" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        <a style="width: 20%;" target="_blank" role="button">Login com <img src="./assets/img/LogoGoogle.png"
            alt="Logo Google" class="position-absolute me-5 end-0 me-3" style="width: 10%;"></a>
      </button>
    </div>

  </section>

