<div class="container mt-5">

  <form *ngIf="updateComponente" [formGroup]="updateComponente">

    <div class="mb-3">
      <input type="number" formControlName="id" class="form-control" placeholder="id" name="id">
    </div>

    <div class="mb-3">
      <input type="text" formControlName="urlImg" class="form-control" placeholder="Image Url" name="urlImg">
    </div>

    <div class="mb-3">
      <input type="text" formControlName="title" class="form-control" placeholder="Title" name="title">
    </div>

    <div class="mb-3">
      <input type="text" formControlName="description" class="form-control" placeholder="description"
        name="description">
    </div>

    <button type="submit" class="btn btn-primary" (click)="updateCadastroComponente()">Atualizar</button>

  </form>
</div>
