<div class="container mt-5">
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" matInput [(ngModel)]="updatePc.urlImg" placeholder="Image Url" name="imgUrl">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" matInput [(ngModel)]="updatePc.title" placeholder="Title" name="title">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" matInput [(ngModel)]="updatePc.description" placeholder="Description"
        name="description">
    </div>

    <button type="submit" class="btn btn-primary" (click)="updateCadastroPc()">Atualizar</button>
  </form>
</div>
