<div class="container mt-5">
  <form>
    <div class="mb-3">
      <input type="hidden" class="form-control" matInput [(ngModel)]="addpc.id" placeholder="Image Url" name="imgUrl">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" matInput [(ngModel)]="addpc.urlImg" placeholder="Image Url" name="imgUrl">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" matInput [(ngModel)]="addpc.title" placeholder="Title" name="title">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" matInput [(ngModel)]="addpc.description" placeholder="Description"
        name="description">
    </div>

    <button type="submit" class="btn btn-primary" (click)="cadastrarPc()">Submit</button>
  </form>
</div>
