<div class="container mt-5">
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="addperiferico.urlImg" placeholder="Image Url" name="imgUrl">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="addperiferico.title" placeholder="Title" name="title">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="addperiferico.description" placeholder="Description"
        name="description">
    </div>

    <button type="submit" class="btn btn-primary" (click)="cadastrarPeriferico()">Submit</button>
  </form>
</div>

