<header id="header" class="container-fluid d-flex">

  <div id="img" class="w-75">
    <img id="img2" class="img-fluid w-50" src="./assets/img/logo.png" alt="Logo da Loja">
  </div>

  <nav class="container-fluid">

    <div class="d-flex align-items-center justify-content-around">

      <button class="h-25 btn btn-secondary">Sobre</button>

      <div class="w-25">
        <select class="w-75 form-select" aria-label="Default select example">
          <option disabled selected>Categorias...</option>
          <option value="computadores">Computadores</option>
          <option value="componentes">Componentes</option>
          <option value="perifericos">Periféricos</option>
        </select>
      </div>

      <button id="btn1" style="width: 10%; height: 10%;" class="btn btn-secondary"><img class="w-50 img-fluid"
          src="./assets/img/BuyCar.png" alt="Carrinho de Compras"></button>

      <button id="btn2" style="width: 10%;" class="btn btn-secondary">Login <img class="w-50 img-fluid"
          src="./assets/img/LoginButton.png" alt="login"></button>

    </div>

  </nav>

</header>

<section style="height: 500px;" class="container rounded-5 bg-secondary text-center mt-5">

  <div id="containerOferta">

    <h1 id="text" class="text-white">Oferta - Somente Hoje</h1>

    <div id="oferta" class="d-flex mt-5 justify-content-around">

      <img id="imgOferta" class="img-fluid w-25 rounded-5" src="./assets/img/Pc.jpg" alt="Computador">

      <div class="oferta-info-pc">
        <h2 class="text-white bg-danger rounded-2 p-1">De R$ 3.900,00 POR R$ 3.000,00</h2>

        <h3 class="text-white mt-3">Computador Gamer Seven</h3>

        <ul class="list-group list-group-flush rounded-1">
          <li class="list-group-item">I7-9900k</li>
          <li class="list-group-item">GTX 1080 TI</li>
          <li class="list-group-item">16 Gb RAM</li>
          <li class="list-group-item">1 Tb</li>
          <li class="list-group-item">256 Gb SSD</li>
        </ul>

      </div>

    </div>

  </div>

</section>

<section class="container-fluid mt-5 flex-wrap">

  <h2 id="computador" >Computadores</h2>  <button class="btn btn-primary"><a class="text-light text-decoration-none" href="http://localhost:4200/addpc">Add PC</a></button>
  <div id="pcs" class="d-flex gap-2 mt-5 mb-5">

    <div id="{{ pc.id }}" class="card shadow" style="width: 15rem;" *ngFor="let pc of cadastrosPc">
      <img src="{{ pc.urlImg }}" class="card-img-top" alt="Computador">
      <div class="card-body">
        <h5 class="card-title">{{ pc.title }}</h5>
        <p class="card-text">{{ pc.description }}</p>
        <a class="btn btn-success">Comprar</a>
        <a href="http://localhost:4200/updatepc/{{ pc.id }}" class="btn btn-primary">Editar</a>
      </div>
    </div>

  </div>


  <h2 id="periferico" >Perifericos</h2> <button class="btn btn-primary"><a class="text-light text-decoration-none" href="http://localhost:4200/addperiferico">Add Periferico</a></button>
  <div id="perifericos" class="d-flex gap-2 mt-5 mb-5">

    <div id="{{ periferico.id }}" class="card shadow" style="width: 15rem;" *ngFor="let periferico of cadastrosPeriferico">
      <img src="{{ periferico.urlImg }}" class="card-img-top" alt="Computador">
      <div class="card-body">
        <h5 class="card-title">{{ periferico.title }}</h5>
        <p class="card-text">{{ periferico.description }}</p>
        <a class="btn btn-success">Comprar</a>
        <a href="http://localhost:4200/updateperiferico/{{ periferico.id }}" class="btn btn-primary">Editar</a>
      </div>
    </div>

  </div>

  <h2 id="componentes" >Componentes</h2> <button class="btn btn-primary"><a class="text-light text-decoration-none" href="http://localhost:4200/addcomponent">Add Component</a></button>
  <div id="componente" class="d-flex gap-2 mt-5 mb-5">

    <div id="{{ componente.id }}" class="card shadow" style="width: 15rem;" *ngFor="let componente of cadastrosComponente">
      <img src="{{ componente.urlImg }}" class="card-img-top" alt="Computador">
      <div class="card-body">
        <h5 class="card-title">{{ componente.title }}</h5>
        <p class="card-text">{{ componente.description }}</p>
        <a class="btn btn-success">Comprar</a>
        <a href="http://localhost:4200/updatecomponente/{{ componente.id }}" class="btn btn-primary">Editar</a>
      </div>
    </div>

  </div>


</section>
